html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

.content {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content.is-active {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

@media screen and (min-width: 768px) {
  .content.is-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hamburger-container {
  text-align: center;
  width: 100%;
  background-color: #8e1bfa;
  position: relative;
  z-index: 20;
}

.hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a23eff;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  width: 100%;
  z-index: 10;
}

.hdr.is-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hdr .ulist {
  text-align: center;
  list-style: none;
  padding: 0;
}

.hdr .ulist__item {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
}

.hdr .ulist__link {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hdr .ulist__link:hover {
  color: #000;
  background-color: #fff347;
}

@media screen and (min-width: 768px) {
  .hamburger-container {
    display: none;
  }
  .hdr {
    -webkit-transform: none;
            transform: none;
  }
  .hdr__navigation {
    width: 100%;
  }
  .hdr .ulist {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
}

.hero__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
}

.hero__image {
  -webkit-animation: hero 1.5s ease-in-out 0s 1 normal none;
          animation: hero 1.5s ease-in-out 0s 1 normal none;
}

@-webkit-keyframes hero {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes hero {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
    font-weight: 500;
  }
  .hero__subtitle {
    font-size: 4rem;
  }
  .hero__image {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */