html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  overflow-x: hidden !important;
}

img {
  width: 100%;
}

.content {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content.is-active {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

@media screen and (min-width: 768px) {
  .content.is-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hamburger-container {
  text-align: center;
  width: 100%;
  background-color: #6000b9;
  position: relative;
  z-index: 20;
}

.hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a23eff;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  width: 100%;
  z-index: 10;
}

.hdr.is-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hdr .ulist {
  text-align: center;
  list-style: none;
  padding: 0;
}

.hdr .ulist__item {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
}

.hdr .ulist__link {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  color: #e7e7e7;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hdr .ulist__link:hover {
  color: #000;
  background-color: #fff347;
}

@media screen and (min-width: 768px) {
  .hamburger-container {
    display: none;
  }
  .hdr {
    -webkit-transform: none;
            transform: none;
  }
  .hdr__navigation {
    width: 100%;
  }
  .hdr .ulist {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
}

.hero__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
}

.hero__image {
  -webkit-animation: hero 1.5s ease-in-out 0s 1 normal none;
          animation: hero 1.5s ease-in-out 0s 1 normal none;
}

@-webkit-keyframes hero {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes hero {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
    font-weight: 500;
  }
  .hero__subtitle {
    font-size: 4rem;
  }
  .hero__image {
    width: 50%;
  }
}

.knowledge {
  background-color: #a23eff;
  padding: 3rem;
  padding-bottom: 5rem;
}

.knowledge__title-cont {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.knowledge__title {
  color: #e7e7e7;
  font-weight: 400;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lang__container {
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #e7e7e7;
}

.lang__container:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
  box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
}

.lang__icon {
  font-size: 4.5rem;
}

.lang .lang--html {
  color: #f06529;
}

.lang .lang--css {
  color: #2965f1;
}

.lang .lang--sass {
  color: #cd6799;
}

.lang .lang--javascript {
  color: #f0db4f;
}

.lang .lang--react {
  color: #61dbfb;
}

.knowledge__cont-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .knowledge__cont-image {
    width: 50%;
    margin: 0 auto;
  }
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn--download {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff347;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.btn--download:hover {
  background-color: #989678;
}

.btn--card {
  display: block;
  width: 100px;
  margin: 0.5rem;
  background-color: #fff347;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.btn--card:hover {
  background-color: #989678;
}

.btn--card:first-of-type {
  font-size: 3rem;
}

.btn--form {
  background-color: #6000b9;
  color: #e7e7e7;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.btn--form:hover {
  background-color: #5300a0;
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
}

.portfolio__title {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
}

.portfolio .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .cards__card {
  width: 240px;
  background-color: #a23eff;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
  box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
}

.portfolio .cards__card-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.portfolio .cards__card-desc {
  font-size: 2rem;
  font-weight: 300;
}

.portfolio .cards__card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
}

.portfolio .cards__card-link {
  text-decoration: none;
  color: #6000b9;
}

@media screen and (min-width: 768px) {
  .portfolio .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.contact {
  background-color: #a23eff;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-size: 2rem;
  text-align: center;
}

.contact__form {
  background-color: #fff347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding: 1rem;
  -webkit-box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
  box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.31);
  border-radius: 15px;
}

.contact__input {
  background-color: #e7e7e7;
  width: 100%;
  height: 4rem;
  border: none;
  margin-bottom: 1rem;
}

.contact__form-error {
  display: none;
}

.contact__form-error.is-active {
  display: block;
  background-color: #ff3131;
  color: #e7e7e7;
  margin-top: 0;
  padding: 1rem;
}

.contact__form-loader.none {
  display: none;
}

.contact__form-response {
  background-color: #41e400;
  margin-top: 1rem;
  padding: 1rem;
}

.contact__form-response.none {
  display: none;
}

.contact__textarea {
  background-color: #e7e7e7;
  width: 100%;
  margin-bottom: 2rem;
  height: 8rem;
  border: none;
  resize: none;
}

.contact__title {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer {
  background-color: #6000b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
}

.footer__text {
  margin-top: 0;
  color: #e7e7e7;
  text-align: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link {
  font-size: 5rem;
  color: #000;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__links {
    width: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */