$screenTablet: 768px;
$fontTitles: "Ubuntu", sans-serif;

$palette: (
  "first-color": #6000b9,
  "second-color": #a23eff,
  "compl-color": #fff347,
  "light": #e7e7e7,
);
$languages: (
  "html": #f06529,
  "css": #2965f1,
  "sass": #cd6799,
  "javascript": #f0db4f,
  "react": #61dbfb,
);
