//Reseteando Estilos
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

.content {
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
  &.is-active {
    transform: translateY(-200px);
  }
}

@media screen and (min-width: 768px) {
  .content.is-active {
    transform: translateY(0);
  }
}

//Imports - abstracts
@import "abstracts/variables";

//Imports - components
@import "components/header", "components/hero";
